.header{
    display: flex;
    margin: 15px;
    text-decoration: none;
    color: black;
}
.header a {
    text-decoration: none;
    color: black;
}
.header nav{
    padding-top: 30px;
}
.header nav a{
    padding: 15px;
}
.header h1{
    width: 50%;
    padding-top: 24px;
}
.header .btn{
    margin-left: 20px;
}
.btn{
    padding: 10px 25px;
    color: cornsilk;
    background-color: tomato;
    border: 1px solid transparent;
    border-radius: 5px;
}